@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #e0e0e0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  position: fixed;
  width: 60px;
  right: 0px;
  bottom: 20px;
}
